html {
    background-image: url(Images/hatter.jpg);
}
header {
    background-color: lightsteelblue;
    border: 5px ridge red;
    padding: 10px;
    margin:auto;
    width: 90%;
    text-align: center;
}

main {
    background-color: lightsteelblue;
    border: 5px ridge red;
    padding: 10px;
    margin:auto;
    width: 90%;
    text-align: center;
}

section {
    border: 2px ridge black;
}

ul {
    list-style-type: none;
}

p.betu-stilus {
    font-style:oblique;
    font-size: 20px;
}

img {
    width: 200px;
}